{% extends "projects/base.html" %}
{% load bootstrap5 %}
{% load static %}
{% load humanize %}
{% load parse_iso %}
{% load createDict %}
{% load createDictMedia %}

{% block head %}
    <link
            rel="stylesheet"
            href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'analyze/css/account.css' %}">
{% endblock head %}

{% block navcontent %}
    <li class="nav-item">
        <a  class="nav-link" href="{% url 'analyze-accounts' %}?id={{ id }}" onclick="showLoading()">
            Analyze Accounts
        </a>
    </li>

    <li class="nav-item">
        <a  class="nav-link" href="{% url 'analyze-media' %}?id={{ id }}&" onclick="showLoading()">
            Analyze Media
        </a>
    </li>


{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="text-center">
                <h1 class="text-muted">

                    <a href="https://www.instagram.com/{{ account }}" target="_blank" >{{ account|upper }}</a>
                </h1>
            </div>
        </div>
        <div class="row row-cols-auto border-top mt-3 ">
            <div class="col mx-auto shadow mt-3">
                <img src="{% static 'accounts/profilePictures/'|add:account.userId|add:'.png' %}" alt="{{ account }}">
            </div>
            <div class="col mx-auto mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="col">
                                <div class="row mx-1">
                                    <h2 class="text-muted">
                                        Followers:
                                    </h2>
                                    <h2 class="text-dark">
                                        {{ account.followers.today|intcomma }}
                                    </h2>
                                </div>
                                <div class="row mx-1">
                                    <h2 class="text-muted">
                                        Following:
                                    </h2>
                                    <h2 class="text-dark">
                                        {{ account.following.today|intcomma }}
                                    </h2>
                                </div>
                                <div class="row mx-1">
                                    <h2 class="text-muted">
                                        Posts:
                                    </h2>
                                    <h2 class="text-dark">
                                        {{ account.medias.today|intcomma }}
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mx-auto mt-3">
                <div class="card shadow">
                    <div class="card-body">
                        <h3 class="card-title text-center">
                            Bio
                        </h3>
                        <h5 class="card-text mt-1">
                            {{ account.bio }}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col mx-auto mt-3">
                <div class="card shadow">
                    <div class="card-body">
                        <h3 class="card-title text-center">
                            #Hashtags
                        </h3>
                        <h5 class="card-text overflow-auto mt-1">
                            {{ account.hashtags }}
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="text-center text-secondary">
                <h2>
                    Account Analytics
                </h2>
            </div>
        </div>

        <div class="row row-cols-1 mx-auto">
            <div class="col p-4">
                <div class="row border shadow bg-light rounded">
                    <div class="overflow-scroll account-growth">
                        <table class="table">
                            <thead>
                            <tr class="table-secondary">
                                <th  scope="col">Date</th>
                                <th scope="col">Followers</th>
                                <th scope="col">Followers Growth</th>
                                <th scope="col">Following</th>
                                <th scope="col">Following Growth</th>
                                <th scope="col">Media</th>
                                <th scope="col">Media Growth</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for key, item in account.dataIn|createDict %}
                                <tr class="text-center">
                                    <th scope="row">{{ item.date|parse_iso|date:'M d, Y H:i' }}</th>
                                    <td>{{ item.cfollowers|intcomma }}</td>
                                    {% if item.followers < 0 %}
                                        <td class="text-danger">{{ item.followers|intcomma }}</td>
                                    {% elif item.followers != 0 %}
                                        <td class="text-success">+{{ item.followers|intcomma }}</td>
                                    {% else %}
                                        <td class="text-muted">-</td>
                                    {% endif %}
                                    <td>{{ item.cfollowing|intcomma }}</td>
                                    {% if item.following < 0 %}
                                        <td class="text-danger">{{ item.following|intcomma }}</td>
                                    {% elif item.following != 0 %}
                                        <td class="text-success">+{{ item.following|intcomma }}</td>
                                    {% else %}
                                        <td class="text-muted">-</td>
                                    {% endif %}
                                    <td>{{ item.cposts|intcomma }}</td>
                                    {% if item.posts < 0 %}
                                        <td class="text-danger">{{ item.posts|intcomma }}</td>
                                    {% elif item.posts != 0 %}
                                        <td class="text-success">+{{ item.posts|intcomma }}</td>
                                    {% else %}
                                        <td class="text-muted">-</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="text-center text-secondary">
                <h2>
                    Account Media
                </h2>
            </div>
        </div>

        <div class="row row-cols-auto mt-2">
            {% for media in medias %}
                <div class="col mx-auto my-2 rounded shadow">
                    <div class="container">
                        <div class="card">
                            <div class="row">
                                <div class="col">
                                    {% if media.isVideo %}
                                        <div class="h_iframe d-flex justify-content-center">
                                            <iframe allowfullscreen src="{% static 'accounts/media/videos/'|add:media.mediaId|add:'.mp4' %}"></iframe>
                                        </div>
                                    {% elif media.isMultiple %}
                                        <div class="swiper mySwiper">
                                            <div class="swiper-wrapper">
                                                {% for item, value in media.multiItems.items %}
                                                    {% if value.isVideo %}
                                                        <div class="swiper-slide">
                                                            <div class="h_iframe" >
                                                                <iframe allowfullscreen src="{% static 'accounts/media/videos/'|add:item|add:'.mp4' %}"></iframe>
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <div class="swiper-slide">
                                                            <img src="{% static 'accounts/media/images/'|add:item|add:'.png' %}">
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>

                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    {% else %}
                                        <div class="d-flex justify-content-center">
                                            <img src="{% static 'accounts/media/images/'|add:media.mediaId|add:'.png' %}"  >
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h3 class="text-muted text-center">
                                                {{ media.user }}
                                            </h3>
                                        </div>
                                        <div class="container">
                                            <div class="row row-cols-auto">
                                                <div class="col mx-auto">
                                                    <h5 class="text-muted text-center">
                                                        Comments
                                                    </h5>
                                                    <h4 class="text-primary text-center">
                                                        {{ media.comments|intcomma }}
                                                    </h4>
                                                </div>
                                                <div class="col mx-auto">
                                                    <h5 class="text-muted text-center">
                                                        Views
                                                    </h5>
                                                    <h4 class="text-primary text-center">
                                                        {{ media.views|intcomma }}
                                                    </h4>
                                                </div>
                                                <div class="col mx-auto">
                                                    <h5 class="text-muted text-center">
                                                        Likes
                                                    </h5>
                                                    <h4 class="text-primary text-center">
                                                        {{ media.likes|intcomma }}
                                                    </h4>
                                                </div>
                                                <div class="col mx-auto">
                                                    <h5 class="text-muted text-center">
                                                        Date Posted
                                                    </h5>
                                                    <h4 class="text-primary text-center">
                                                        {{ media.Date|date:"M d, Y" }}
                                                    </h4>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row m-2 border shadow rounded">
                                        <div class="overflow-scroll account-media">
                                            <table class="table">
                                                <thead>
                                                <tr class="table-secondary">
                                                    <th  scope="col">Date</th>
                                                    <th scope="col">Views</th>
                                                    <th scope="col">Views Growth</th>
                                                    <th scope="col">Likes</th>
                                                    <th scope="col">Likes Growth</th>
                                                    <th scope="col">Comments</th>
                                                    <th scope="col">Comments Growth</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for key, item in media.dataIn|createDictMedia %}
                                                    <tr>
                                                        <th scope="row">{{ item.date|parse_iso|date:'M d, Y H:i' }}</th>
                                                        <td>{{ item.cviews|intcomma }}</td>
                                                        {% if item.views < 0 %}
                                                            <td class="text-danger">{{ item.views|intcomma }}</td>
                                                        {% elif item.views != 0 %}
                                                            <td class="text-success">+{{ item.views|intcomma }}</td>
                                                        {% else %}
                                                            <td class="text-muted">-</td>
                                                        {% endif %}
                                                        <td>{{ item.clikes|intcomma }}</td>
                                                        {% if item.likes < 0 %}
                                                            <td class="text-danger">{{ item.likes|intcomma }}</td>
                                                        {% elif item.likes != 0 %}
                                                            <td class="text-success">+{{ item.likes|intcomma }}</td>
                                                        {% else %}
                                                            <td class="text-muted">-</td>
                                                        {% endif %}
                                                        <td>{{ item.ccomments|intcomma }}</td>
                                                        {% if item.comments < 0 %}
                                                            <td class="text-danger">{{ item.comments|intcomma }}</td>
                                                        {% elif item.comments != 0 %}
                                                            <td class="text-success">+{{ item.comments|intcomma }}</td>
                                                        {% else %}
                                                            <td class="text-muted">-</td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            pagination: {
                el: ".swiper-pagination",
                type: "progressbar",
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
{% endblock %}