{% extends "projects/base.html" %}
{% load bootstrap5 %}
{% load static %}
{% load humanize %}
{% load parse_iso %}
{% load createDictMedia %}

{% block head %}
    <link
            rel="stylesheet"
            href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'analyze/css/media.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'projects/load.css' %}">

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script>
        function showLoading() {
            document.getElementById('load').style.display = "block";
            document.getElementById('main').style.display = "none";
        }
    </script>
{% endblock head %}

{% block navcontent %}
    <li class="nav-item">
        <a  class="nav-link" href="/projects/analyze/?id={{ project.id }}" onclick="showLoading()">
            Analyze Accounts
        </a>
    </li>

{% endblock %}

{% block content %}

    <div class="container-fluid" id="main">
        <div class="row row-cols-auto mb-4">
            <div class="col mx-auto d-flex justify-content-end">
                <h2 class="text-muted">
                    {{ project }}
                </h2>
            </div>
            <div class="col mx-auto d-flex justify-content-center">
                <div class="dropdown">
                    <button class="dropdown-toggle btn btn-outline-dark" href="#"  data-bs-toggle="dropdown" aria-expanded="false">
                        Sort By
                    </button>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="?id={{ project.id }}&sort=V">Views</a></li>
                        <li><a class="dropdown-item" href="?id={{ project.id }}&sort=L">Likes</a></li>
                        <li><a class="dropdown-item" href="?id={{ project.id }}&sort=C">Comments</a></li>
                        <li><a class="dropdown-item" href="?id={{ project.id }}&sort=D">Date Posted</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row row-cols-auto">
            {% for media in medias %}
                <div class="col mx-auto my-2 rounded shadow">
                    <div class="container">
                        <div class="card">
                            <div class="row">
                                <div class="col">
                                    {% if media.isVideo %}
                                        <div class="h_iframe d-flex justify-content-center">
                                            <iframe allowfullscreen src="{% static 'accounts/media/videos/'|add:media.mediaId|add:'.mp4' %}"></iframe>
                                        </div>
                                    {% elif media.isMultiple %}
                                        <div class="swiper mySwiper">
                                            <div class="swiper-wrapper">
                                                {% for item, value in media.multiItems.items %}
                                                    {% if value.isVideo %}
                                                        <div class="swiper-slide">
                                                            <div class="h_iframe" >
                                                                <iframe allowfullscreen src="{% static 'accounts/media/videos/'|add:item|add:'.mp4' %}"></iframe>
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <div class="swiper-slide">
                                                            <img src="{% static 'accounts/media/images/'|add:item|add:'.png' %}">
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>

                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    {% else %}
                                        <div class="d-flex justify-content-center">
                                            <img src="{% static 'accounts/media/images/'|add:media.mediaId|add:'.png' %}"  >
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h3 class="text-muted text-center">
                                                <a href="{% url 'analyze-account' %}?id={{ project.id }}&acc={{ media.user.userId }}">{{ media.user }}</a>
                                            </h3>
                                        </div>
                                        <div class="container">
                                            <div class="row row-cols-auto">
                                                <div class="col mx-auto">
                                                    <h5 class="text-muted text-center">
                                                        Comments
                                                    </h5>
                                                    <h4 class="text-primary text-center">
                                                        {{ media.comments|intcomma }}
                                                    </h4>
                                                </div>
                                                <div class="col mx-auto">
                                                    <h5 class="text-muted text-center">
                                                        Views
                                                    </h5>
                                                    <h4 class="text-primary text-center">
                                                        {{ media.views|intcomma }}
                                                    </h4>
                                                </div>
                                                <div class="col mx-auto">
                                                    <h5 class="text-muted text-center">
                                                        Likes
                                                    </h5>
                                                    <h4 class="text-primary text-center">
                                                        {{ media.likes|intcomma }}
                                                    </h4>
                                                </div>
                                                <div class="col mx-auto">
                                                    <h5 class="text-muted text-center">
                                                        Date Posted
                                                    </h5>
                                                    <h4 class="text-primary text-center">
                                                        {{ media.Date|date:"M d, Y" }}
                                                    </h4>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row m-2 border shadow rounded">
                                        <div class="overflow-scroll account-media">
                                            <table class="table">
                                                <thead>
                                                <tr class="table-secondary">
                                                    <th  scope="col">Date</th>
                                                    <th scope="col">Views</th>
                                                    <th scope="col">Views Growth</th>
                                                    <th scope="col">Likes</th>
                                                    <th scope="col">Likes Growth</th>
                                                    <th scope="col">Comments</th>
                                                    <th scope="col">Comments Growth</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for key, item in media.dataIn|createDictMedia %}
                                                    <tr class="text-center">
                                                        <th scope="row">{{ item.date|parse_iso|date:'M d, Y H:i' }}</th>
                                                        <td>{{ item.cviews|intcomma }}</td>
                                                        {% if item.views < 0 %}
                                                            <td class="text-danger">{{ item.views|intcomma }}</td>
                                                        {% elif item.views != 0 %}
                                                            <td class="text-success">+{{ item.views|intcomma }}</td>
                                                        {% else %}
                                                            <td class="text-muted">-</td>
                                                        {% endif %}
                                                        <td>{{ item.clikes|intcomma }}</td>
                                                        {% if item.likes < 0 %}
                                                            <td class="text-danger">{{ item.likes|intcomma }}</td>
                                                        {% elif item.likes != 0 %}
                                                            <td class="text-success">+{{ item.likes|intcomma }}</td>
                                                        {% else %}
                                                            <td class="text-muted">-</td>
                                                        {% endif %}
                                                        <td>{{ item.ccomments|intcomma }}</td>
                                                        {% if item.comments < 0 %}
                                                            <td class="text-danger">{{ item.comments|intcomma }}</td>
                                                        {% elif item.comments != 0 %}
                                                            <td class="text-success">+{{ item.comments|intcomma }}</td>
                                                        {% else %}
                                                            <td class="text-muted">-</td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            pagination: {
                el: ".swiper-pagination",
                type: "progressbar",
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
    <div class="loader" id="load" style="display: none">
        Analyzing...
    </div>
{% endblock content %}