<!DOCTYPE html>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'projects/main.css' %}">
    {% block head %}
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Insta Analyze</title>
        {% endif %}
    {% endblock head %}

</head>
<body>
    <div class="m-2">
        <nav class="navbar navbar-dark bg-dark mt-3">
            <div class="dropdown ms-3">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort By
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="?id={{ project.id }}&sort=V">Views</a></li>
                    <li><a class="dropdown-item" href="?id={{ project.id }}&sort=L">Likes</a></li>
                    <li><a class="dropdown-item" href="?id={{ project.id }}&sort=C">Comments</a></li>
                </ul>
            </div>
            <div class="">
                <div class="row">
                    {% block navcontent %}
                    {% endblock %}
                </div>
            </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
</body>
</html>