{% extends "projects/base.html" %}
{% load bootstrap5 %}

{% block content %}

    <div class="m-5">
    {#Welcome Message#}
        <div class="text-center mt-2 text-uppercase p-3 text-white">
            <h1>Welcome, {{ user.username }}</H1>
        </div>

    {#Create a new Project#}
        <div class="container">
            <div class="row d-flex justify-content-center h-100">
                <div class="col d-flex justify-content-center">
                    <a class="btn btn-outline-light" href="{% url 'new-project' %}">➕ Create Project</a>
                </div>

                <div class="col d-flex justify-content-center">
                    <a class="btn btn-outline-light" href="{% url 'home' %}">Your Projects</a>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}