{% extends "projects/base.html" %}
{% load bootstrap5 %}
{% load static %}


{% block navcontent %}
    <li class="nav-item">
        <a  class="nav-link" href="/hashtags" onclick="showLoading()">
            Hashtag Generator
        </a>
    </li>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row ">
            <h2 class="text-center mt-2 text-uppercase p-3 text-white">Your Projects</h2>
        </div>

        {#          Display Exsisting Projects#}

        {% if project_id %}
            <div class="row row-cols-3 d-flex justify-content-center mx-1">
                {% for project in project_id %}
                    <div class="col card m-5" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-uppercase h3">
                                {{ project.name }}
                            </h5>
                            <div>
                                <h5 class="text-truncate my-3">
                                {% for account in project.projectaccounts_set.all %}
                                    {{ account }},
                                {% endfor %}
                                </h5>
                                {% if not project.projectaccounts_set.all %}
                                    <legend>Empty</legend>
                                {% endif %}
                            </div>
                            <p class="text-muted">
                                Accounts Left:
                                <p>
                                    {{ project.size }}
                                </p>
                            </p>
                            <a href="?id={{ project.id }}" class="stretched-link hidden"></a>
                            <div>
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="d-flex justify-content-center h-100">
                                        <div class="searchbar">
                                            <input type="hidden" name="id" value="{{ project.id }}">
                                            <input type="hidden" name="act" value="removeP">
                                            <button style="z-index: 2; position: relative" class="btn btn-danger w-100" type="submit">Delete Project</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        {#          if no projects are created#}

        {% else %}
            <div>
                <span class="badge rounded-pill bg-light text-dark d-flex justify-content-center m-5">
                    <h2>
                        You don't have any projects yet
                    </h2>
                </span>
            </div>
        {% endif %}
    </div>
{% endblock content %}