{% extends "projects/base.html" %}
{% load bootstrap5 %}
{% block content %}
    <div>
        <a href=""></a>
    </div>
    <div>
        {% if accounts %}
            {% for account in accounts %}
                <h2>{{ account.username }}</h2>
            {% endfor %}
        {% else %}
            <h2>You haven't added any accounts yet</h2>
        {% endif %}
    </div>
    <div class="container h-100">

        <form method="GET">
            <div class="d-flex justify-content-center h-100">
                <div class="searchbar">
                    <input class="search_input" type="text" name="key" placeholder="Search...">
                    <input type="hidden" name="id" value="{{ id }}">
                    <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </form>
    </div>

    <div>
        {% if results != 'e' or result != 'False'%}
            <form method="POST">
                {% csrf_token %}
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar">
                        <input type="hidden" name="acc" value="{{ results.username }}">
                        <input type="hidden" name="id" value="{{ id }}">

                        <button class="btn btn-outline-dark"  type="submit"><a href="#">add {{ results.username }}</a></button>
                    </div>
                </div>
            </form>

            {{ results.username }}
            <img src="{{ results.profile_pic_url }}" alt="none">
        {% elif results == "e" %}
            <h2>System Error or the Account Doesn't exist. Please try again in a few minutes</h2>
        {% endif %}
    </div>
{% endblock content %}

