{% extends "projects/base.html" %}
{% load bootstrap5 %}
{% load static %}
{% load humanize %}


{% block head %}
    <link rel="stylesheet" href="{% static 'projects/viewProject.css' %}">
    <link rel="stylesheet" href="{% static 'projects/load.css' %}">

    <script>
        function showLoading() {
            document.getElementById('load').style.display = "block";
            document.getElementById('main').style.display = "none";
        }
    </script>

{% endblock %}

{% block navcontent %}
    <li class="nav-item">
        <a  class="nav-link" href="{% url 'analyze-accounts' %}?id={{ project.id }}" onclick="showLoading()">
            Analyze Accounts
        </a>
    </li>

    <li class="nav-item ">
        <a  class="nav-link disabled" href="{% url 'analyze-media' %}?id={{ project.id }}&" onclick="showLoading()">
            Analyze Media
        </a>
    </li>

{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock messages %}

{% block content %}
    <div id="main" class="mt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9 border-end">
                    {% if accounts %}
                        <div class="row row-cols-auto mt-3">
                            {% for account in accounts %}
                                <div class="col mx-auto my-2">
                                    <div class="card account-card shadow">
                                        <img src="{% static 'accounts/profilePictures/'|add:account.account.userId|add:'.png' %}" alt="{{ account.account }}">
                                        <div class="card-body">
                                            <a href="{% url  'analyze-account' %}?id={{ project.id }}&acc={{ account.account.userId }}" class="hidden stretched-link"></a>
                                            <h4 class="card-title text-center mb-3">{{ account.account }}</h4>
                                                <div class="row row-cols-auto">
                                                    <div class="col mx-auto my-1">
                                                        <h5 class="text-muted text-center account-details-head">
                                                            Followers
                                                        </h5>
                                                        <h6 class="account-details text-center">
                                                            {{ account.account.followers.today|intcomma }}
                                                        </h6>
                                                    </div>

                                                    <div class="col mx-auto my-1">
                                                        <h5 class="text-muted text-center">
                                                            Following
                                                        </h5>
                                                        <h6 class="account-details text-center">
                                                            {{ account.account.following.today|intcomma }}
                                                        </h6>
                                                    </div>

                                                    <div class="col mx-auto my-1">
                                                        <h5 class="text-muted text-center">
                                                            Media
                                                        </h5>
                                                        <h6 class="account-details text-center">
                                                            {{ account.account.medias.today|intcomma }}
                                                        </h6>
                                                    </div>
                                                </div>
                                                <div class="row row-cols-auto">
                                                    <div class="col mx-auto">
                                                        <form method="post">
                                                            {% csrf_token %}
                                                            <button class="btn btn-outline-danger" type="submit">Remove {{ account.account.username }}</button>
                                                            <input hidden type="text" name="key" value="{{ account.account.username }}">
                                                            <input hidden type="text" name="id" value="{{ project.id }}">
                                                            <input hidden type="text" name="act" value="remove">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col text-center text-muted mt-4">
                                {{ project.size }} Accounts left
                            </div>
                        </div>
                    {% else %}
                        <h3 class="text-muted align-middle">
                            Your Project is Empty
                        </h3>
                    {% endif %}
                </div>

                <div class="col-md-3">
                    <div class="container mt-5" id="add-account">
                        <div class="row mt-5">
                            <h4 class="text-muted text-center">
                                Add an Account
                            </h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col my-3">
                                <form method="GET">
                                    <div class="input-group d-flex justify-content-center">
                                        <div class="form-outline">
                                            <input required name="key" placeholder="search by an username" type="text" id="form1" class="form-control" />
                                        </div>
                                        <input type="hidden" value="{{ project.id }}" name="id">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fas fa-search">Search</i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            {% if not check %}
                                <div class="col mx-auto my-2 d-flex justify-content-center">
                                    <div class="card account-card shadow-sm mt-3">
                                        <img src="{% static 'accounts/profilePictures/'|add:result.userId|add:'.png' %}" alt="{{ result.username }}">
                                        <div class="card-body">
                                            <h4 class="card-title text-center mb-3">{{ result.username }}</h4>

                                            <div class="row row-cols-auto">
                                                <div class="col mx-auto my-1">
                                                    <h5 class="text-muted text-center account-details-head">
                                                        Followers
                                                    </h5>
                                                    <h6 class="account-details text-center">
                                                        {{ result.followers.today|intcomma }}
                                                    </h6>
                                                </div>

                                                <div class="col mx-auto my-1">
                                                    <h5 class="text-muted text-center">
                                                        Following
                                                    </h5>
                                                    <h6 class="account-details text-center">
                                                        {{ result.following.today|intcomma }}
                                                    </h6>
                                                </div>

                                                <div class="col mx-auto my-1">
                                                    <h5 class="text-muted text-center">
                                                        Media
                                                    </h5>
                                                    <h6 class="account-details text-center">
                                                        {{ result.medias.today|intcomma }}
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="row row-cols-auto">
                                                <div class="col mx-auto">
                                                    <form method="post">
                                                        {% csrf_token %}
                                                        <button class="btn btn-outline-dark" type="submit">Add {{ result.username }}</button>
                                                        <input hidden type="text" name="key" value="{{ result.username }}">
                                                        <input hidden type="text" name="id" value="{{ project.id }}">
                                                        <input hidden type="text" name="act" value="add">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row row-cols-auto">
                        <div class="col mx-auto">
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">
                                    Delete Project
                                </button>
                                <input type="hidden" name="act" value="delete">
                                <input type="hidden" name="id" value="{{ project.id }}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="loader" id="load" style="display: none">
        Analyzing...
    </div>

{% endblock content %}

